extends layout

block content
  p Following are the details of the operations, should you be interested in contacting us.
  p Please feel free to do this anytime.
  section.css-table
    section.three-column
      section.cell
        p #{name}
      section.cell
        p #{address}
      section.cell
        p #{phone}